{% extends 'login/base.html' %}
{% block body %}
    <div class="well well-sm">
        <div class="container">
            <h2><strong>Cart Items:</strong></h2>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Phone</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in details %}
                    <tr>
                        <td>{{item.username}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.state}}</td>
                        <td>{{item.phone}}</td>
                        <form action="{% url 'login:view_user_orders' item.id %}" method="post">
                            {% csrf_token %}
                            <td><button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span> Orders
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}