<!DOCTYPE html>
<html lang="en">
<head>
  <title>Avadhoot Enterprises</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block payment %}
  {% endblock %}
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

    <div class="jumbotron">
      <div class="container text-center">
        <h1>Avadhoot Enterprises</h1>
        <p>Online Store for Industrial Supplies</p>
      </div>
    </div>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Avadhoot</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'login:index' %}">Home</a></li>
            <li><a href="{% url 'login:products' %}">Products</a></li>
            <li><a href="{% url 'login:orders' %}">Orders</a></li>
              <li><a href="{% url 'login:contactus' %}">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            {% if loggedin == 0 %}
              <li><a href="{% url 'login:signin' %}"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
              <li><a href="{% url 'login:cart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            {% else %}
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome {{name}}</a></li>
              {% if loggedin == 2  %}
                  <li><a href="{% url 'login:adminpages' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Admin </a></li>
              {% endif %}
              <li><a href="{% url 'login:cart' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
              <li><a href="{% url 'login:logout' %}"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="container-fluid text-center">
      <p>Online Store Copyright</p>
    </footer>


</body>
</html>